@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root{
    --main-bg-color:#2874f0;
}
*
{
    margin: 0;
    padding: 0;  
}
header{
    background-color:var(--main-bg-color);
}
nav{
    display: flex;
}
.logo
{
    display: flex;
    align-items: center;
    position: relative;
    left: 135px;
}
.logo img
{
    width: 88px;
    padding: 0 25px;
}


nav ul
{
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 -50px;

}

nav ul li{
    list-style: none;
    padding: 0 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
}
.search
{
    display: flex;
    align-items: center;
    margin: 0 120px;
}
.search input
{
    width: 355px;
    height: 28px;
    padding-left: 12px;
    margin: 0 23px;

}

.btn
{
    width: 101px;
    height: 31px;
    color:#2874f0 ;
    background-color: white;
    /* font-weight: bold; */
    font-size: 16px;
    text-align: center;
}
.box ul
{
    display: flex;
    justify-content: flex-start;
    height: 35px;
    
}
.box ul li{
    list-style: none;
    padding: 0 40px;
    /* font-weight: bold; */
}
.box ul li:hover{
    
    color: #2874f0;
}

.container
{
    min-height: calc(100vh - 45px - 12vh);

}
.slider
{
    display: flex;
    justify-content: center;
}
.img1
{
    width: 1275px;
}
.img2
{
    width: 1275px;
}
.img3
{
    width: 1275px;
}
@keyframes slide {
    0%
    {
        transform: translate(50vw);
    }
    100%
    {
        transform: translate(-50vw);
    }
}
/* @keyframes slide2 {
    0%
    {
        transform: translate(-100vw);
    }
    100%
    {
        transform: translate(-200vw);
    }
} */
.img1{
    transform: translate(50vw); 
     animation: slide 5s 6s  infinite backwards;
}

.img2{
    transform: translate(50vw);  
    animation: slide 5s 6s  infinite backwards;
}



h2{
    margin: 20px 0;
}

.card
{
    max-width: 91vw;
    margin: auto;
}
.lines
{
        display: inline-block;
        padding: 0 44px;
}
.lines p{
    text-align: center;
}
.lines2
{
    display: inline-block;
    margin: 0 104px;
    text-align: center;
}
.lines3
{
    display: inline-block;
    margin: 0 35px;
    text-align: center;
}
.lines4
{
    display: inline-block;
    margin: 0 74px;
    text-align: center;
    padding: 0 0 0 12px;
}
.lines5
{
    display: inline-block;
    margin: 0 105px;
    text-align: center;
}


.m2
{
    margin: 0 65px;
}
.m4
{
    margin: 0 65px;
}

footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;

}